
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>


    .login-buttons {
      text-align: center;
    }

    .login-button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin: 0 10px;
      text-decoration: none;
      display: inline-block;
    }

    .login-button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<h1>Home</h1>
<!-- <p>Find me in app/views/home/index.html.erb</p> -->
<body>


<%= render 'home/login' %>


</body>